.content {
    background: rgba($color: white, $alpha: 0.4);
    border-radius: 5px;
    padding: 10px;
    position: relative;

    .settings-area {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: white;

        .buttons {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}