.xpand-app {
  max-width: 1024px;
  margin: 0 auto;

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background: white;
    overflow: hidden;
    padding: 10px;

    textarea {
      width: 90%;
      display: block;
      height: 150px;
    }

    .buttons {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      button {
       display: block;
        margin: 5px;
        height: 40px;
        width: 50%;
        outline: none;
        border-radius: 4px;
        border: 2px solid #d53369;
        font-size: 24px;
        background: #d53369;
        color: white;
      }
    }

  }

}
